* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

nav{
    z-index: 100;
}
body{
    height: 100vh;
    background-color: gainsboro;
}

#title{
    text-align: center;

}

#cycle{
    border: 1px solid red; 
    margin-top: 55px;
}